<section
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
  data-aos-duration="1000"
  class="flix-pay"
>
  <div class="flix-pay__logo">
    <img src="frontend/src/img/flix-pay 1.svg" alt="" srcset="" />
  </div>
  <h2 class="flix-pay__title">
    A conta digital certa<br />para cuidar bem do seu dinheiro
  </h2>
  <p class="flix-pay__subtitle">
    Que tal abrir uma conta digital para ver como a gente faz a sua vida mais
    simples?
  </p>
  <div class="link-pay">
    <a class="effect1" target="_blank" href="www.flixtelecom.com.br/flixpay">
      Conheça o Banco Digital Flix Pay
      <span class="bg"></span>
    </a>
  </div>
</section>
